/* NAV BAR */

.navbar {
  background-color: aliceblue;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.botonMenu {
  border: none !important;
}

.navLinks {
  text-align: center;
}

.navLinksItems {
  color: rgb(8, 8, 8) !important;
  letter-spacing: 1px;
  transition: all 0.4s ease !important;
  font-size: 18px !important;
}

.navLinksItems:hover {
  letter-spacing: 2.5px;
  font-weight: bold;
  transition: all 0.4s ease;
}

.navLinksItems.active {
  color: rgb(0, 119, 255) !important;
  font-weight: bold;
}

/* PRINCIPAL */
.ring-cargando {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-main {
  margin-top: 50px;
  text-align: center;
}

.productos-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ItemCount */

.producto {
  margin: 90px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: aliceblue;
  box-shadow: 20px 20px 40px 1px rgba(0, 0, 0, 0.2);
}

.detail-produc {
  color: rgb(33, 37, 41);
  font-size: 24px;
  margin: 40px 0px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.detail-produc:hover {
  cursor: pointer;
  color: rgb(0, 119, 255);
}

.contador {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contador-produc {
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btndash,
.btnplus {
  background: transparent;
  border: none;
}

.numbercount-produc {
  font-size: 25px;
}

.btnadd-produc {
  color: aliceblue;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 10px 40px;
  border: 1px solid rgb(0, 119, 255);
  border-radius: 50px;
  background-color: rgb(0, 119, 255);
  transition: all 0.3s ease;
}

.btnadd-produc:hover {
  color: rgb(0, 119, 255);
  background: transparent;
}

/*  DETALLE DEL ITEM */

.title-itemdetail {
  text-align: center;
  margin: 90px 0;
  text-transform: uppercase;
}

.container-detail {
  margin: 90px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-detail {
  text-align: center;
}

.item-detail {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.item-detail span {
  font-weight: normal;
}

.count-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.finalizar-detail {
  text-decoration: none;
  color: aliceblue;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 10px 40px;
  border: 1px solid rgb(0, 119, 255);
  border-radius: 50px;
  background-color: rgb(0, 119, 255);
  transition: all 0.3s ease;
}

.finalizar-detail:hover {
  color: rgb(0, 119, 255);
  background: transparent;
}

/* CART */

.container-titles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-cart {
  margin: 70px 0;
}

.text-cart-vacio {
  font-size: 1.5rem;
}

.total-cart {
  font-size: 1.5rem;
}

.text-cart-inicio {
  cursor: pointer;
  color: rgb(0, 119, 255);
}

.btn-cart-clear {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 55, 55);
  border-radius: 15px;
  border: 1px solid rgb(255, 55, 55);
  color: aliceblue;
  padding: 15px 20px;
  transition: all 0.3s ease;
}

.btn-cart-clear:hover {
  letter-spacing: 2px;
}

.container-cart-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 20px 40px 1px rgba(0, 0, 0, 0.2);
  padding: 30px 10px;
  margin: 5vh 5vw;
  border-radius: 50px;
}

.btn-cart-remove {
  padding: 10px;
  border: 1px solid rgb(255, 55, 55);
  border-radius: 10px;
  background: rgb(255, 55, 55);
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-cart-remove:hover {
  transform: scale(1.2);
}

.btn-finalizar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-cart-finalizar {
  margin: 80px 0;
  font-size: 1.5rem;
  text-decoration: none;
  color: aliceblue;
  padding: 15px 30px;
  border-radius: 20px;
  border: none;
  background-color: rgb(0, 119, 255);
  transition: all 0.3s ease;
}

.btn-cart-finalizar:hover {
  letter-spacing: 2px;
}

/* CHECKOUT */

.title-fina-compra,
.title-fina-datos {
  text-align: center;
  margin: 90px 0;
  text-transform: uppercase;
}

.form-finalizar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-finalizar {
  margin: 20px 0;
  width: 70vw;
  padding: 10px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-finalizar-checkout {
  color: aliceblue;
  letter-spacing: 2px;
  margin: 20px;
  padding: 10px 40px;
  border-radius: 20px;
  background-color: rgb(8, 8, 8);
  border: 1px solid rgb(8, 8, 8);
  transition: all 0.3s ease;
  -webkit-box-reflect: below 25px
    linear-gradient(to bottom, transparent 0%, rgb(8, 8, 8) 250%);
}

.btn-finalizar-checkout:hover {
  transform: scale(1.2);
}
