@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap');
/*
#root {
  margin: 0 auto;
  padding: 0;
}*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: aliceblue;
}
/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
